<!DOCTYPE html>
<html>
  <head>
    <title>Meetup</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script type="text/javascript">
      window.fightclubURL = "<%= image_url('meetup.png') %>";
      window.mainImageURL = "<%= image_url('mainimage.jpg') %>";

      window.blankaURL = "<%= image_url('blanka.jpeg') %>";
      window.mbisonURL = "<%= image_url('mbison.jpeg') %>";
      window.subzeroURL = "<%= image_url('subzero.jpeg') %>";
      window.shangtsungURL = "<%= image_url('shangtsung.jpeg') %>";
      window.scorpionURL = "<%= image_url('scorpion.jpeg') %>";
      window.liukangURL = "<%= image_url('liukang.jpeg') %>";
      window.nightmareURL = "<%= image_url('nightmare.jpeg') %>";
      window.astarothURL = "<%= image_url('astaroth.jpeg') %>";
      window.voldoURL = "<%= image_url('voldo.jpeg') %>";
      window.villagerURL = "<%= image_url('villager.jpeg') %>";
      window.wiifitURL = "<%= image_url('wiifit.jpeg') %>";
      window.foxURL = "<%= image_url('fox.jpeg') %>";
      window.eddyURL = "<%= image_url('eddy.jpeg') %>";
      window.kingURL = "<%= image_url('king.jpeg') %>";
      window.heihachiURL = "<%= image_url('heihachi.jpeg') %>";
      window.jinURL = "<%= image_url('jin.jpeg') %>";
      window.ginyuforceURL = "<%= image_url('ginyuforce.png') %>";
      window.gokuURL = "<%= image_url('goku.jpg') %>";
      window.saitamaURL = "<%= image_url('saitama.jpg') %>";
    </script>
    <%= stylesheet_link_tag 'application', media: 'all' %> <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>
    <script src="https://kit.fontawesome.com/ef87a093be.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
