<!DOCTYPE html>
<html>
  <head>
    <title>Meetup</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <script type="text/javascript">
      window.fightclubURL = "<%= image_url('logo_Beatup.png') %>";
      window.saitamaURL = "<%= image_url('saitama.jpg') %>";
      window.mainImageURL = "<%= image_url('mainimage.gif') %>";

      window.streetfighterURL = "<%= image_url('streetfighter.jpg') %>";
      window.mortalkombatURL = "<%= image_url('mortalkombat.jpg') %>";
      window.soulcaliburURL = "<%= image_url('soulcalibur.jpg') %>";
      window.smashbrothersURL = "<%= image_url('smashbrothers.jpeg') %>";
      window.tekkenURL = "<%= image_url('tekken.jpg') %>";
      window.arnoldsURL = "<%= image_url('arnolds.jpeg') %>";
      window.myheroURL = "<%= image_url('aa.png') %>";
      window.zfightersURL = "<%= image_url('zfighters.jpg') %>";
      window.bestteamURL = "<%= image_url('bestteam.png') %>";
      window.badguysURL = "<%= image_url('badguys.jpeg') %>";
      window.krillinURL = "<%= image_url('krillin.jpeg') %>";
      window.tightsURL = "<%= image_url('tights.gif') %>";
      window.rapperURL = "<%= image_url('rapper.jpeg') %>";
      window.historyURL = "<%= image_url('history.jpg') %>";

      window.streetfightericonURL = "<%= image_url('streetfightericon.jpg') %>";
      window.mortalkombaticonURL = "<%= image_url('mortalkombaticon.jpg') %>";
      window.soulcaliburiconURL = "<%= image_url('soulcaliburicon.png') %>";
      window.smashbrothersiconURL = "<%= image_url('smashbrothersicon.jpg') %>";
      window.tekkeniconURL = "<%= image_url('tekkenicon.jpg') %>";
      window.arnoldsiconURL = "<%= image_url('arnoldsicon.png') %>";
      window.myheroiconURL = "<%= image_url('aaicon.png') %>";
      window.zfightersiconURL = "<%= image_url('zfightersicon.jpg') %>";
      window.bestteamiconURL = "<%= image_url('bestteamicon.jpeg') %>";
      window.badguysiconURL = "<%= image_url('badguysicon.jpg') %>";
      window.tightsiconURL = "<%= image_url('tightsicon.png') %>";
      window.rappericonURL = "<%= image_url('rappericon.png') %>";
      window.historyiconURL = "<%= image_url('historyicon.png') %>";

      window.kenURL = "<%= image_url('ken.jpeg') %>";
      window.guileURL = "<%= image_url('guile.jpeg') %>";
      window.blankaURL = "<%= image_url('blanka.jpeg') %>";
      window.mbisonURL = "<%= image_url('mbison.jpeg') %>";
      window.subzeroURL = "<%= image_url('subzero.jpeg') %>";
      window.shangtsungURL = "<%= image_url('shangtsung.jpeg') %>";
      window.scorpionURL = "<%= image_url('scorpion.jpeg') %>";
      window.liukangURL = "<%= image_url('liukang.jpeg') %>";
      window.nightmareURL = "<%= image_url('nightmare.jpeg') %>";
      window.astarothURL = "<%= image_url('astaroth.jpeg') %>";
      window.voldoURL = "<%= image_url('voldo.jpeg') %>";
      window.villagerURL = "<%= image_url('villager.jpeg') %>";
      window.wiifitURL = "<%= image_url('wiifit.jpeg') %>";
      window.foxURL = "<%= image_url('fox.jpeg') %>";
      window.eddyURL = "<%= image_url('eddy.jpeg') %>";
      window.kingURL = "<%= image_url('king.jpeg') %>";
      window.heihachiURL = "<%= image_url('heihachi.jpeg') %>";
      window.jinURL = "<%= image_url('jin.jpeg') %>";
      window.gokuURL = "<%= image_url('goku.jpg') %>";
      window.t800URL = "<%= image_url('t800.jpg') %>";
      window.conanURL = "<%= image_url('conan.jpg') %>";
      window.douglasquaidURL = "<%= image_url('douglasquaid.jpg') %>";
      window.dutchURL = "<%= image_url('dutch.jpg') %>";
      window.commandoURL = "<%= image_url('commando.jpg') %>";
      window.mrfreezeURL = "<%= image_url('mrfreeze.jpeg') %>";
      window.abelURL = "<%= image_url('abel.jpg') %>";
      window.chrisURL = "<%= image_url('chris.jpg') %>";
      window.evansURL = "<%= image_url('evans.jpg') %>";
      window.dukeURL = "<%= image_url('duke.jpg') %>";
      window.ianURL = "<%= image_url('ian.jpg') %>";
      window.josephURL = "<%= image_url('joseph.jpg') %>";
      window.julieURL = "<%= image_url('julie.jpg') %>";
      window.kennyURL = "<%= image_url('kenny.jpg') %>";
      window.samiURL = "<%= image_url('sami.jpg') %>";
      window.lindaURL = "<%= image_url('linda.jpg') %>";
      window.sebastianURL = "<%= image_url('sebastian.jpg') %>";
      window.helenURL = "<%= image_url('helen.jpeg') %>";
      window.gokuURL = "<%= image_url('goku.jpg') %>";
      window.vegetaURL = "<%= image_url('vegeta.jpg') %>";
      window.piccoloURL = "<%= image_url('piccolo.jpg') %>";
      window.trunksURL = "<%= image_url('trunks.png') %>";
      window.isabelleURL = "<%= image_url('isabelle.jpg') %>";
      window.howardlangstonURL = "<%= image_url('howardlangston.jpeg') %>";
      window.sakuraURL = "<%= image_url('sakura.jpg') %>";
      window.robinhoodURL = "<%= image_url('robinhood.jpg') %>";
      window.davechapelleURL = "<%= image_url('davechapelle.jpg') %>";
      window.blinkinURL = "<%= image_url('blinkin.jpg') %>";
      window.liljonURL = "<%= image_url('liljon.jpeg') %>";
      window.joanofarcURL = "<%= image_url('joanofarc.jpg') %>";
      window.caesarURL = "<%= image_url('caesar.jpeg') %>";
      window.lincolnURL = "<%= image_url('lincoln.jpg') %>";
      window.teddyURL = "<%= image_url('teddy.jpg') %>";
      window.kanyeURL = "<%= image_url('kanye1.jpg') %>";
      window.kanye2URL = "<%= image_url('kanye2.jpeg') %>";
      window.kanye3URL = "<%= image_url('kanye3.jpg') %>";
      window.kanye4URL = "<%= image_url('kanye4.jpg') %>";
      window.rapperevent1URL = "<%= image_url('rapperevent1.jpeg') %>";
      window.rapperevent2URL = "<%= image_url('rapperevent2.jpeg') %>";
      window.tightsevent1URL = "<%= image_url('tightsevent1.jpeg') %>";
      window.tightsevent2URL = "<%= image_url('tightsevent2.jpeg') %>";
      window.historyevent1URL = "<%= image_url('historyevent1.jpeg') %>";
      window.historyevent2URL = "<%= image_url('historyevent2.jpeg') %>";
      window.badguysevent1URL = "<%= image_url('badguysevent1.jpeg') %>";
      window.badguysevent2URL = "<%= image_url('badguysevent2.jpeg') %>";
      window.badguysevent3URL = "<%= image_url('badguysevent3.jpeg') %>";
      window.krillinevent2URL = "<%= image_url('krillinevent2.jpeg') %>";
      window.krillinevent1URL = "<%= image_url('krillinevent1.gif') %>";
      window.dbzevent2URL = "<%= image_url('dbzevent2.png') %>";
      window.dbzevent1URL = "<%= image_url('dbzevent1.jpeg') %>";
      window.dbzevent3URL = "<%= image_url('dbzevent3.jpeg') %>";
      window.aaevent1URL = "<%= image_url('aaevent1.jpeg') %>";
      window.aaevent2URL = "<%= image_url('aaevent2.jpeg') %>";
      window.arnoldevent1URL = "<%= image_url('arnoldevent1.jpeg') %>";
      window.arnoldevent2URL = "<%= image_url('arnoldevent2.jpeg') %>";
      window.tekkenevent1URL = "<%= image_url('tekkenevent1.jpeg') %>";
      window.tekkenevent2URL = "<%= image_url('tekkenevent2.jpeg') %>";
      window.sbevent1URL = "<%= image_url('sbevent1.jpeg') %>";
      window.sbevent2URL = "<%= image_url('sbevent2.jpeg') %>";
      window.scevent1URL = "<%= image_url('scevent1.jpeg') %>";
      window.scevent2URL = "<%= image_url('scevent2.jpeg') %>";
      window.mkevent1URL = "<%= image_url('mkevent1.jpeg') %>";
      window.mkevent2URL = "<%= image_url('mkevent2.jpeg') %>";
      window.sfevent1URL = "<%= image_url('sfevent1.jpeg') %>";
      window.sfevent2URL = "<%= image_url('sfevent2.jpeg') %>";
      window.keyboardURL = "<%= image_url('keyboardURL.png') %>";
      window.drunkURL = "<%= image_url('drunkURL.jpg') %>";
      window.mjURL = "<%= image_url('mjURL.gif') %>";
      window.ancientURK = "<%= image_url('ancientURL.jpeg') %>";
      window.rollURL = "<%= image_url('rollURL.gif') %>";
      window.crabURL = "<%= image_url('crabURL.jpeg') %>";
      window.cheeseURL = "<%= image_url('cheeseURL.jpeg') %>";
      window.kaiokenURL = "<%= image_url('kaiokenURL.jpeg') %>";
      window.pillowURL = "<%= image_url('pillowURL.jpg') %>";
      window.finalURL = "<%= image_url('finalURL.jpg') %>";
      window.smashURL = "<%= image_url('smashURL.jpg') %>";
      window.airURL = "<%= image_url('juggleURL.jpeg') %>";
      window.spamURL = "<%= image_url('spamURL.jpg') %>";
      window.default1URL = "<%= image_url('default1URL.jpeg') %>";
      window.default2URL = "<%= image_url('default2URL.jpeg') %>";
      window.default3URL = "<%= image_url('default3URL.jpeg') %>";
      window.default4URL = "<%= image_url('default4URL.jpg') %>";
      window.default5URL = "<%= image_url('default5URL.jpg') %>";
      window.default6URL = "<%= image_url('default6URL.jpg') %>";
      window.defaultg1URL = "<%= image_url('defaultg1URL.jpg') %>";
      window.defaultg2URL = "<%= image_url('defaultg2URL.jpg') %>";
      window.defaultg3URL = "<%= image_url('defaultg3URL.jpg') %>";
      window.defaultg4URL = "<%= image_url('defaultg4URL.jpeg') %>";
      window.defaultg5URL = "<%= image_url('defaultg5URL.png') %>";
      window.defaultg6URL = "<%= image_url('defaultg6URL.png') %>";
      window.initiateURL = "<%= image_url('initiateURL.png') %>";
      window.squadleaderURL = "<%= image_url('squadleaderURL.png') %>";
      window.captainURL = "<%= image_url('captainURL.png') %>";
      window.defaultchannelURL = "<%= image_url('defaultchannelURL.jpeg') %>";
      window.defaultchannel1URL = "<%= image_url('defaultchannel1URL.png') %>";
      window.defaultchannel2URL = "<%= image_url('defaultchannel2URL.jpeg') %>";
      window.defaultchannel3URL = "<%= image_url('defaultchannel3URL.png') %>";
      window.defaultchannel4URL = "<%= image_url('defaultchannel4URL.png') %>";
      window.defaultchannel5URL = "<%= image_url('defaultchannel5URL.png') %>";
      window.defaultchannel6URL = "<%= image_url('defaultchannel6URL.png') %>";
      window.defaultchannel7URL = "<%= image_url('defaultchannel7URL.jpg') %>";
      window.defaultchannel8URL = "<%= image_url('defaultchannel8URL.jpeg') %>";
     
    </script>
    <%= stylesheet_link_tag 'application', media: 'all' %> <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,700i,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ef87a093be.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
