<!DOCTYPE html>
<html>
  <head>
    <title>Meetup</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script type="text/javascript">
      window.fightclubURL = "<%= image_url('logo_Beatup.png') %>";
      window.saitamaURL = "<%= image_url('saitama.jpg') %>";
      window.mainImageURL = "<%= image_url('mainimage.gif') %>";
      window.streetfighterURL = "<%= image_url('streetfighter.jpg') %>";
      window.mortalkombatURL = "<%= image_url('mortalkombat.jpg') %>";
      window.soulcaliburURL = "<%= image_url('soulcalibur.jpg') %>";
      window.smashbrothersURL = "<%= image_url('smashbrothers.jpeg') %>";
      window.tekkenURL = "<%= image_url('tekken.gif') %>";
      window.kenURL = "<%= image_url('ken.jpeg') %>";
      window.guileURL = "<%= image_url('guile.jpeg') %>";
      window.blankaURL = "<%= image_url('blanka.jpeg') %>";
      window.mbisonURL = "<%= image_url('mbison.jpeg') %>";
      window.subzeroURL = "<%= image_url('subzero.jpeg') %>";
      window.shangtsungURL = "<%= image_url('shangtsung.jpeg') %>";
      window.scorpionURL = "<%= image_url('scorpion.jpeg') %>";
      window.liukangURL = "<%= image_url('liukang.jpeg') %>";
      window.nightmareURL = "<%= image_url('nightmare.jpeg') %>";
      window.astarothURL = "<%= image_url('astaroth.jpeg') %>";
      window.voldoURL = "<%= image_url('voldo.jpeg') %>";
      window.villagerURL = "<%= image_url('villager.jpeg') %>";
      window.wiifitURL = "<%= image_url('wiifit.jpeg') %>";
      window.foxURL = "<%= image_url('fox.jpeg') %>";
      window.eddyURL = "<%= image_url('eddy.jpeg') %>";
      window.kingURL = "<%= image_url('king.jpeg') %>";
      window.heihachiURL = "<%= image_url('heihachi.jpeg') %>";
      window.jinURL = "<%= image_url('jin.jpeg') %>";
      window.ginyuforceURL = "<%= image_url('ginyuforce.png') %>";
      window.gokuURL = "<%= image_url('goku.jpg') %>";
      window.arnoldsURL = "<%= image_url('arnolds.jpeg') %>";
      window.myheroURL = "<%= image_url('aa.png') %>";
      window.zfightersURL = "<%= image_url('zfighters.jpg') %>";
      window.bestteamURL = "<%= image_url('bestteam.png') %>";
      window.badguysURL = "<%= image_url('badguys.jpeg') %>";
      window.krillinURL = "<%= image_url('krillin.jpeg') %>";
      window.tightsURL = "<%= image_url('tights.gif') %>";
      window.t800URL = "<%= image_url('t800.jpg') %>";
      window.conanURL = "<%= image_url('conan.jpg') %>";
      window.douglasquaidURL = "<%= image_url('douglasquaid.jpg') %>";
      window.dutchURL = "<%= image_url('dutch.jpg') %>";
      window.commandoURL = "<%= image_url('commando.jpg') %>";
      window.mrfreezeURL = "<%= image_url('mrfreeze.jpeg') %>";
      window.abelURL = "<%= image_url('abel.jpg') %>";
      window.chrisURL = "<%= image_url('chris.jpg') %>";
      window.evansURL = "<%= image_url('evans.jpg') %>";
      window.dukeURL = "<%= image_url('duke.jpg') %>";
      window.ianURL = "<%= image_url('ian.jpg') %>";
      window.josephURL = "<%= image_url('joseph.jpg') %>";
      window.julieURL = "<%= image_url('julie.jpg') %>";
      window.kennyURL = "<%= image_url('kenny.jpg') %>";
      window.samiURL = "<%= image_url('sami.jpg') %>";
      window.lindaURL = "<%= image_url('linda.jpg') %>";
      window.sebastianURL = "<%= image_url('sebastian.jpg') %>";
      window.helenURL = "<%= image_url('helen.jpeg') %>";
      window.gokuURL = "<%= image_url('goku.jpg') %>";
      window.vegetaURL = "<%= image_url('vegeta.jpg') %>";
      window.piccoloURL = "<%= image_url('piccolo.jpg') %>";
      window.trunksURL = "<%= image_url('trunks.png') %>";
      window.isabelleURL = "<%= image_url('isabelle.jpg') %>";
      window.howardlangstonURL = "<%= image_url('howardlangston.jpeg') %>";
      window.sakuraURL = "<%= image_url('sakura.jpg') %>";
      window.robinhoodURL = "<%= image_url('robinhood.jpg') %>";
      window.davechapelleURL = "<%= image_url('davechapelle.jpg') %>";
      window.blinkinURL = "<%= image_url('blinkin.jpg') %>";
      window.liljonURL = "<%= image_url('liljon.jpeg') %>";
      window.historyURL = "<%= image_url('history.jpeg') %>";
      window.rapperURL = "<%= image_url('rapper.jpeg') %>";
      window.historyURL = "<%= image_url('history.jpg') %>";
      window.joanofarcURL = "<%= image_url('joanofarc.jpg') %>";
      window.caesarURL = "<%= image_url('caesar.jpeg') %>";
      window.lincolnURL = "<%= image_url('lincoln.jpg') %>";
      window.teddyURL = "<%= image_url('teddy.jpg') %>";
      window.kanyeURL = "<%= image_url('kanye1.jpg') %>";
      window.kanye2URL = "<%= image_url('kanye2.jpeg') %>";
      window.kanye3URL = "<%= image_url('kanye3.jpg') %>";
      window.kanye4URL = "<%= image_url('kanye4.jpg') %>";
    </script>
    <%= stylesheet_link_tag 'application', media: 'all' %> <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>
    <script src="https://kit.fontawesome.com/ef87a093be.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
