<!DOCTYPE html>
<html>
  <head>
    <title>Meetup</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script type="text/javascript">
      window.fightclubURL = "<%= image_url('meetup.png') %>";
      window.mainImageURL = "<%= image_url('mainimage.jpg') %>";
      window.streetfighterURL = "<%= image_url('streetfighter.jpg') %>";
      window.mortalkombatURL = "<%= image_url('mortalkombat.jpg') %>";
      window.guiltygearURL = "<%= image_url('guiltygear.jpg') %>";
      window.smashbrothersURL = "<%= image_url('smashbrothers.jpeg') %>";
      window.tekkenURL = "<%= image_url('tekken.gif') %>";
    </script>
    <%= stylesheet_link_tag 'application', media: 'all' %> <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>
    <script src="https://kit.fontawesome.com/ef87a093be.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
